@charset "utf-8";
/* CSS Document */

*{
	/*font-family: "Droid Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	}
body{
	background-color:#CCCCCC;
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
}
th, td {
	padding: 8px;
}
label {
	margin: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-weight: 600;
}
h4, h5 {
	font-weight: 400 !important;
}
.container-fluid {
	margin: 0 15px;
}
.navbar .container-fluid {
	margin: 0;
}
.h1{
	padding-left:10px;
	float:left;
	}
.h4 {
	font-size: 16px;
	line-height: 0px;
}

.tableWrapper{
	background: #FFF;
	margin:10px 0px;
	}
.loginPanel{
	margin:30px auto;
	border:1px solid #000;
	width:500px;
	background-color:#FFF;
	}
.loginTxt input{
	font-size:18px;
	width:350px;
	padding:10px;
	margin:30px 30px 0px 30px;
	}
.loginbtn input{
	font-size:18px;
	width:200px;
	padding:10px;
	margin:30px 30px 30px 30px;
	}
:target {
  -webkit-animation: highlight 5s ease;  
  -moz-animation: highlight 5s ease;
  -webkit-transform: translateY(0px); 
  -moz-transform: translateY(0px); 
  -ms-transform: translateY(0px); 
  -o-transform: translateY(0px);     
}
:target .projectPeople {
  -webkit-animation: highlight 5s ease;  
  -moz-animation: highlight 5s ease;
}
@-webkit-keyframes highlight {
  0% { background-color: #FFA; }
  100% { background-color: #FFF; }
}
@-moz-keyframes highlight {
  0% { background-color: #FFC; }
  80% { background-color: #FFC; }
  100% { background-color: #FFF; }
}
.billmargin {
	margin-top: 10px;
}
.projectPanel:not(.ui-sortable-helper) {
	-webkit-transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease; 
  -ms-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease;
}
.projectPanel{
	border:1px solid #000;
	width:350px;
	margin:0px 10px 20px;
	float:left;
	background-color:#FFF;
}
.usage{
	padding:1px;
	}
.projectHeader{
	padding:10px;
	font-weight:bold;
	font-size:18px;
	}
.projectHeader a{
	background-color:#00CCFF;
	font-size:10px;
	text-decoration:none;
	color:#FFFFFF;
	padding:0px 5px;
	}

.projectPeople{
	padding:10px;
	border-top:1px solid #000;
	background-color: rgba(255,255,255,0.75); 
	}
.projectPeople select.input-sm {
	height: 24px;
}
.projectFooter{
	padding:10px;
	border-top:1px solid #000;
	}

.clearBoth{
	clear:both;
	}
.usageHighBd,
.usageFullBd,
.usageLowBd {
	border-left: 5px solid;
}
.usageHigh{
	color:#DD0000;
	font-weight:bold;
	}
.usageHighBd{
	border-color: #DD0000;;
}
.usageFull {
	color:#FF9900;
	font-weight: bold;
}

.usageFullBd{
	border-color: #FF9900;;
}
.usageLow{
	color:#00AA00;
	font-weight:bold;
	}
.usageLowBd{
	border-color: #00AA00;;
}
.list-sort, .plist-sort {
	margin: 0;
}
.bg-muted {
	background-color: #EFEFEF;
	margin: 0 -10px -10px;
	padding: 5px 10px;
}
.fg-blue {
	color: #0088FF;
}
.percent {
	font-weight: normal;
	font-size: 25px;
	margin: 10px 0 0 10px;
	float: right;
	line-height: 0;
}
.file-upload-area {
	position: relative;
	text-align: center;
}

.file-upload-area:hover:after {
	background-color: rgba(0,0,0,0.25);
	color: rgba(255,255,255,0.5);
	content: "\e046";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Glyphicons Halflings';
	font-size: 10em;
}
.file-upload-area input[type="file"] {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	cursor: pointer;
}
.gap-top-m30 {
	margin-top: 30px;
}
.gap-top-m20 {
	margin-top: 20px;
}
.bg-gs-A {
	background-color: #AAA;
}
.progress {
	background-color: #CCC;
}
.facebook {
	color: #3b5998;
}
.google {
	color: #dd4b39;
}
.linkedin {
	color: #007bb6;
}
.twitter {
	color: #00aced;
}
   
