﻿@model Selise.Data.DatabaseContext.LeaveApplication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LeaveApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfHalfDayLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfHalfDayLeave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApporved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApporved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedByEmployee.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedByEmployee.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "ListAllApplication", "LeaveApplication")
</p>
