﻿@model System.Collections.Generic.IEnumerable<Selise.Data.DatabaseContext.LeaveApplication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysApplied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfHalfDayLeave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApporved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedByEmployee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysApplied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfHalfDayLeave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApporved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedByEmployee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
