﻿@model System.Collections.Generic.IEnumerable<Selise.Data.DatabaseContext.LeaveApplication>

@{
    ViewBag.Title = "Leave Application List";
}

<h2>My Leave Application List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysApplied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApporved)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysApplied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApporved)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
