﻿@using Selise.Data.Dto;
@model EmployeeDto

@{
    ViewBag.Title = "Employee Details";
}

<h2>title</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img src="@Url.Content("~/Images/34.jpg")" alt="Profile Picture" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-md-9">
                <h1>
                    @Model.Employee_FullName
                    <a href="#" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                </h1>
                <h2>@Model.Employee_Position_ID</h2>
                <dl class="dl-horizontal h4 gap-top-m30">
                    <dt>Address:</dt>
                    <dd>@Model.Address_Line_1</dd>
                    <dd>@Model.Address_Line_2</dd>
                    <dd>@Model.Address_Line_1</dd>
                    <dd>@Model.Address_Line_2</dd>
                    <dt>Mobile No.:</dt>
                    <dd>@Model.Primary_Contact_No</dd>
                    <dt>Email:</dt>
                    <dd>
                        @Model.Employee_Email
                    </dd>
                    <dt>Job Location:</dt>
                    <dd>@Model.Address_Line_1</dd>
                    <dt>Job Duration:</dt>
                    <dd>@Model.Start_Date to Continue</dd>
                </dl>

            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Emergency</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Name:</dt>
                            <dd></dd>
                            <dt>Mobile No.:</dt>
                            <dd>@Model.Emergency_Contact_No</dd>
                            <dt>Relation:</dt>
                            <dd>@Model.Emergency_Contact_Relation</dd>
                        </dl>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Others</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Birth Date:</dt>
                            <dd>@Model.Date_Of_Birth</dd>
                            <dt>Blood Group:</dt>
                            <dd>@Model.Blood_Group</dd>
                            <dt>e-TIN:</dt>
                            <dd></dd>
                        </dl>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Address</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Present Address:</dt>
                            <dd>0</dd>
                            <dt>Home Town:</dt>
                            <dd>Khulna</dd>
                        </dl>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Education</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Academic Title:</dt>
                            <dd>Bsc.  </dd>
                            <dt>Graduation:</dt>
                            <dd>UAP</dd>
                            <dt>Post Graduation:</dt>
                            <dd>0</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Projects</h3>
                    </div>
                    <div class="panel-body">
                        <img src="@Url.Content("~/Images/small.png")" alt="SELISE" class="img-responsive center-block">
                        <p></p>
                        <ul class="list-group gap-top-m20">
                            <li class="list-group-item">
                                <div>
                                    <p>
                                        <strong>SwissLife - Report</strong>
                                        <span class="pull-right text-muted">100% Involve</span>
                                    </p>
                                    <div class="progress progress-striped active1">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%">
                                            <span class="sr-only">100% Involve (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="bg-muted">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" style="width: 0%">
                                    <span>0%</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 100%">
                                    <span>100%</span>
                                </div>
                            </div>
                            <div class="text-center">Total Involvement 100%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>