﻿@using System.Linq
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Authentication", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        var nameClaim = System.Security.Claims.ClaimsPrincipal.Current.Claims.FirstOrDefault(c => c.Type.EndsWith("/name"));
        var userName = nameClaim != null ? nameClaim.Value : string.Empty;

        <ul class="nav navbar-nav navbar-right dropdown">
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">@userName</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    using (Html.BeginForm("ExternalLogin", "Authentication", FormMethod.Post, new { id = "loginForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('loginForm').submit()">Log in</a></li>
        </ul>
    }
}
