﻿@model Selise.Data.DatabaseContext.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMarried)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMarried)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactCellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactCellNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactRelationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostGraduationInstitute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostGraduationInstitute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduationInstitute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationInstitute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternativeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternativeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkedinProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedinProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoogleplusProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogleplusProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeavingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeavingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByEmployee.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByEmployee.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobLocation.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobLocation.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByEmployee.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByEmployee.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceStation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceStation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostOffice.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffice.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
