﻿@model Selise.Data.DatabaseContext.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMarried)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContactCellNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContactRelationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostGraduationInstitute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduationInstitute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficialEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlternativeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacebookProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkedinProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleplusProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeavingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodGroup.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByEmployee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobLocation.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedByEmployee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliceStation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostOffice.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.Title)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.CellNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.Photo)
        </td>
        <td>
            @Html.DisplayFor(model => model.IsMarried)
        </td>
        <td>
            @Html.DisplayFor(model => model.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(model => model.AddressLine1)
        </td>
        <td>
            @Html.DisplayFor(model => model.AddressLine2)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmergencyContactName)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmergencyContactCellNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.EmergencyContactRelationship)
        </td>
        <td>
            @Html.DisplayFor(model => model.AcademicTitle)
        </td>
        <td>
            @Html.DisplayFor(model => model.PostGraduationInstitute)
        </td>
        <td>
            @Html.DisplayFor(model => model.GraduationInstitute)
        </td>
        <td>
            @Html.DisplayFor(model => model.NationalId)
        </td>
        <td>
            @Html.DisplayFor(model => model.TinId)
        </td>
        <td>
            @Html.DisplayFor(model => model.OfficialEmail)
        </td>
        <td>
            @Html.DisplayFor(model => model.AlternativeEmail)
        </td>
        <td>
            @Html.DisplayFor(model => model.FacebookProfile)
        </td>
        <td>
            @Html.DisplayFor(model => model.LinkedinProfile)
        </td>
        <td>
            @Html.DisplayFor(model => model.GoogleplusProfile)
        </td>
        <td>
            @Html.DisplayFor(model => model.SkypeId)
        </td>
        <td>
            @Html.DisplayFor(model => model.IsActive)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoiningDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.LeavingDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(model => model.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(model => model.BloodGroup.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Department.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Designation.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.District.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedByEmployee.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Gender.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.JobLocation.Location)
        </td>
        <td>
            @Html.DisplayFor(model => model.ModifiedByEmployee.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => model.PoliceStation.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.PostOffice.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Role.Title)
        </td>
    </tr>

</table>
